.calendarWrapper {
    margin: 0 auto;
    padding: 20px;   
    background-color: #FFF;
    max-width: 300px;  
    position: absolute;
    left: 350px;
    margin-top: -180px;  
    z-index: 2000;
}

.arrowDiv {
    padding: 5px;
    display: flex;
    justify-content: space-between;    
}

.arrow {    
    border: none;
    outline: none;
    background-color: transparent;
}



.monthAndYear {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.weekDaysDiv, .gridWrapper {
    margin: 0px;
    padding: 5px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekDays {
    padding-top: 5px;
    text-align: center;
}

.weekDaysDiv {
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
}

.day, .active {
    height: 40px;
    width: 40px;
    text-align: center;
    border: none;
    margin: 0px;
    outline: none;
    background-color: #FFF;
    color: #000;
}


.active:focus {
    background-color: orangered;
    color: #FFF;
    border-radius: 50%;
}

.arrow:focus {
    color: orangered;
}

.notActive {
    background-color: rgb(235, 235, 235);
}

.pastDates {
    color: grey
}