.App {
  font-family: 'Josefin Sans', sans-serif;
}

.Content {
  margin: 20px;
  display: flex;
  justify-content: center;
  max-width: 73vw;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
    .Content {
      flex-direction: column;
      align-items: center;
    }
  }

#infoWindow {
  width: 100px;
  margin-bottom: 54px;
}