.App {
  font-family: 'Josefin Sans', sans-serif;
}

.Content {
  margin: 20px;
  display: flex;
  justify-content: center;
  max-width: 73vw;
  margin: 20px auto;
}

.Cards {
  width: 60%;
}

.Results {
  margin-top: 20px;
  margin-left: 40%;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
    .Content {
      flex-direction: column;
      align-items: center;
      max-width: 100vw;
    }

    .Cards {
      width: 95vw;
    }

    .Results {      
      margin-left: 20%;
    }

  }


#infoWindow {
  width: 100px;
  margin-bottom: 54px;
}
