.map {
    width: 100%;
    height: 100%;
}

.mapWrapper {
    position: relative;
    margin-left: 15px;
    width: 35vw; 
    height: 70vh;
    z-index: -1;
}

@media screen and (max-width: 420px) {
    .mapWrapper {
        margin: 0px auto;
        width: 100vw; 
        height: 50vh;
    }
}